@using SchoolApp.DAL.Models



<style>
    .custom-input {
        font-size: 0.85rem;
        padding: 0.25rem 0.5rem;
    }

    .custom-button {
        margin: 0.2rem;
        padding: 0.3rem 0.5rem;
    }

    .custom-form-group {
        margin-bottom: 0.5rem;
    }
    /* تقليل الهوامش بين الحقول */
    .custom-form-group {
        margin-bottom: 0.5rem;
    }

    /* تقليل الهوامش حول الأزرار */
    .custom-button {
        margin: 0.2rem;
        padding: 0.3rem 0.5rem;
    }

</style>

<div class="col-12 grid-margin">
    <div class="card">
        <!-- قسم العنوان والأزرار -->
        <div class="d-flex justify-content-between align-items-center p-1">
            <div class="m-0">
                <h1 class="card-title text-dark font-weight-bold fs-4">ملف الطلبة </h1>
            </div>
            <div class="d-flex justify-content-end navigation-buttons">
                <div class="btn btn-primary btn-sm custom-button" id="btnMin">
                    <i class="fa fa-angle-double-right"></i>
                </div>
                <div class="btn btn-primary btn-sm custom-button" id="btnPrevious">
                    <i class="fa fa-angle-right"></i>
                </div>
                <div class="btn btn-primary btn-sm custom-button" id="btnNext">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="btn btn-primary btn-sm custom-button" id="btnMax">
                    <i class="fa fa-angle-double-left"></i>
                </div>
            </div>
        </div>

        <!-- محتوى الكارد (المعلومات) -->
        <div class="card-body ">
            <form id="fileBusForm" class="form-sample">
                <input type="hidden"  id="busId" />
                <div class="p-3">
                <!-- صفوف الحقول -->
                <div class="row row-cols-3 g-2">
                          <div class="col-sm-6">
                                <label class="form-label">رقم الطالب</label>
                            <input type="text" class="form-control form-control-sm" id="fileBusCodeInput" placeholder="ادخل رقم الطالب">
                            </div>
                    <div class="col-sm-3">
                        <label class="form-label">اسم القسم</label>
                            <select asp-items="ViewBag.departments" class="form-control form-control-sm">
                            <option>اختر القسم</option>
                        </select>
                    </div>
                        <div class="col-sm-3">
                            <label class="form-label">المرحلة</label>
                            <select asp-items=" ViewBag.Stages" id="StageId" class="form-control form-control-sm">
                                <option>اختر المرحلة</option>
                            </select>
                        </div>
                </div>

                <div  class="row row-cols-4 g-2" >
                    <div class="col">
                        <label class="form-label">اسم الطالب</label>
                        <input type="text" class="form-control form-control-sm" placeholder="ادخل اسم الطالب">
                    </div>
                    <div class="col">
                        <label class="form-label">اسم الاب</label>
                        <input type="text" class="form-control form-control-sm" placeholder="ادخل اسم الاب">
                    </div>
                    <div class="col">
                        <label class="form-label">اسم الجد</label>
                        <input type="text" class="form-control form-control-sm" placeholder="ادخل اسم الجد">
                    </div>
                    <div class="col">
                        <label class="form-label">اسم العائلة</label>
                        <input type="text" class="form-control form-control-sm" placeholder="ادخل اسم العائلة">
                    </div>
                   
                    
                   
                   
                </div>
                <div class="row row-cols-4 g-2">
                    <div class="col">
                        <label class="form-label">تاريخ الميلاد</label>
                        <input type="date" class="form-control form-control-sm">
                    </div>
                    <div class="col">
                        <label class="form-label">مكان الولادة</label>
                        <input type="text" class="form-control form-control-sm" placeholder="ادخل مكان الولادة">
                    </div>
                    
                    <div class="col">
                        <label class="form-label">الجنسية</label>
                            <select asp-items="ViewBag.nationals" class="form-control form-control-sm">
                            <option>اختر الجنسية</option>
                        </select>
                    </div>
                        <div class="col">
                            <label class="form-label d-block">الجنس</label>
                            <div class="pe-0 d-flex row ">
                                <div class="pe-0 row col d-flex justify-content-around me-1">
                                    <input type="radio" class="pe-0 col-sm-2" name="gender" value="male">
                                    <label class="pe-0 form-check-label text-muted col-sm-10">ذكر</label>
                                </div>
                                <div class="pr-0 row col d-flex justify-content-around me-1">
                                    <input type="radio" class="pe-0 col-sm-2" name="gender" value="female">
                                    <label class="pe-0 form-check-label text-muted col-sm-10">انثي</label>
                                </div>
                            </div>

                        </div>
                </div>
<br />
<hr />
                <div class="row row-cols-3 g-2">

                        <div class="col-sm-4">
                        <label class="form-label">الصف</label>
                        <select id="classTypeId" class="form-control form-control-sm">
                            <option value="0">اختر الصف</option>
                            
                        </select>
                    </div>
                        <div class="col-sm-4">
                        <label class="form-label">اسم الفصل</label>
                        <input type="text" class="form-control form-control-sm" placeholder="ادخل اسم الفصل">
                    </div>
                        <div class="col-sm-4">

                            <label class="form-label">الرصيد السابق </label>

                            <input type="number" class="form-control form-control-sm" placeholder="ادخل الرصيد السابق ">

                        </div>




                </div>

               

                <div class="row row-cols-3 g-2 ">
                    <div class="col-sm-4">

                        <label class="form-label">المدرسة المنقول منها  </label>
                           
                                <input type="text" class="form-control form-control-sm" placeholder="ادخل اسم المدرسة ">
                          
                       
                    </div>
                        <div class="col-sm-4">
                            <label class="form-label"> دفعة مقدمة </label>
                            <input type="number" class="form-control form-control-sm" placeholder="ادخل دفعة مقدمة">
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label">القسط الشهري  </label>
                            <input type="number" class="form-control form-control-sm" placeholder="ادخل القسط الشهري ">
                        </div>
                </div>
                <div class="row row-cols-5 g-2">
                    <div class="col">
                        <label class="form-label">الحالة الشخصية</label>
                        <select class="form-control form-control-sm">
                            <option value="1">بطاقة احوال</option>
                            <option value="2">جواز سفر</option>
                            <option value="3">اقامة</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label">الرقم </label>
                        <input type="text" class="form-control form-control-sm" placeholder="ادخل  الرقم">
                    </div>
                    <div class="col">
                        <label class="form-label">تاريخ الاصدار </label>
                        <input type="date" class="form-control form-control-sm" >
                    </div>
                    <div class="col">
                        <label class="form-label"> مكان الاصدار</label>
                        <input type="text" class="form-control form-control-sm" placeholder="ادخل اسم العائلة">
                    </div>

                    <div class="col">
                        <label class="form-label">تاريخ الانتهاء </label>
                        <input type="date" class="form-control form-control-sm">
                    </div>


                </div>
                <div class="row row-cols-4 g-2">

                    
                    <div class="col-sm-4">
                            <label class="form-label d-block">طريقة الدفع </label>
                        <div class="d-flex row">
                                
                                <div class="row col-sm-6 d-flex justify-content-around me-1">
                                    <input type="radio" class="col-sm-2" name="gender" value="1">
                                    <label class="form-check-label text-muted col-sm-10">قسط</label>
                                </div>
                                <div class="row  col-sm-6 d-flex justify-content-around me-1">
                                    <input type="radio" class=" col-sm-2" name="gender" value="2">
                                    <label class="form-check-label text-muted col-sm-10">مقدم</label>
                                </div>
                        </div>
                        
                    </div>
                    <div class="col-sm-8">
                        <label class="form-label d-block">فترة الالتحاق  </label>
                        <div class=" d-flex justify-content-start row">
                                <div class="row col-sm-4 d-flex justify-content-around me-1">
                                    <input type="radio" class="col-sm-2" name="applydate" value="1">
                                    <label class="form-check-label text-muted col-sm-10">اول</label>
                                </div>
                                <div class="row col-sm-4 d-flex justify-content-around me-1">
                                    <input type="radio" class=" col-sm-2" name="applydate" value="2">
                                    <label class="form-check-label text-muted col-sm-10">الثاني</label>
                                </div>
                                <div class="row col-sm-4 d-flex justify-content-around me-1">
                                    <input type="radio" class=" col-sm-2" name="applydate" value="3">
                                    <label class="form-check-label text-muted col-sm-10">كامل</label>
                                </div>
                        </div>
                       
                    </div>
                </div>
                </div>
                <br />
                <hr />
                <br />
                @* //////////// *@
                <div class="p-3">
                <div class="row row-cols-3 g-2">
                    <div class="col-sm-6">
                        <label class="form-label">اسم ولي الامر</label>
                        <input type="text" class="form-control form-control-sm" placeholder="ادخل اسم ولي الامر">
                   </div>
                    <div class="col-sm-3">
                        <label class="form-label">صلة القرابة</label>
                        <input type="text" class="form-control form-control-sm" placeholder="ادخل صلة القرابة">
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">الجنسية</label>
                            <select asp-items="ViewBag.nationals" class="form-control form-control-sm">
                            <option>اختر الجنسية</option>
                        </select>
                    </div>





                </div>

                <div class="row row-cols-3 g-2 ">
                    <div class="col-sm-6">

                        <label class="form-label">جهة العمل  </label>

                        <input type="text" class="form-control form-control-sm" placeholder="ادخل جهة العمل ">


                    </div>
                    <div class="col-sm-3">

                        <label class="form-label"> الوظيفة </label>

                        <input type="number" class="form-control form-control-sm" placeholder="ادخل الوظيفة ">

                    </div>
                        <div class="col-sm-3">
                            <label class="form-label">رقم الجوال </label>
                            <input type="text" class="form-control form-control-sm" placeholder="ادخل رقم الجوال">
                        </div>
                </div>
                <div class="row row-cols-3 g-2">
                    <div class="col-sm-6">
                        <label class="form-label">الايميل</label>
                        <input type="email" class="form-control form-control-sm" placeholder="ادخل الايميل الكتروني">
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">رمز البريدي </label>
                        <input type="text" class="form-control form-control-sm" placeholder="ادخل رمز البريدي">
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label"> هاتف العمل </label>
                        <input type="text" class="form-control form-control-sm" placeholder="ادخل هاتف العمل">
                    </div>





                </div>
                    <div class="row row-cols-3 g-2">
                        <div class="col-sm-6">
                            <label class="form-label">اسم اقرب شخص </label>
                            <input type="text" class="form-control form-control-sm" placeholder="ادخل اسم">
                        </div>

                        <div class="col-sm-3">
                            <label class="form-label">عنوان منزله</label>
                            <input type="text" class="form-control form-control-sm" placeholder="ادخل عنوان منزله">
                        </div>
                        <div class="col-sm-3">
                            <label class="form-label">هاتف المنزل</label>
                            <input type="text" class="form-control form-control-sm" placeholder="ادخل هاتف المنزل">
                        </div>




                    </div>
                <div class="row row-cols-3 g-2">
                        <div class="col-sm-6">
                            <label class="form-label">رقم الفاكس </label>
                            <input type="text" class="form-control form-control-sm" placeholder="ادخل رقم الفاكس">
                        </div>
                   
                    <div class="col-sm-6">
                        <label class="form-label d-block">من العاملين</label>
                        <div class="d-flex row ">
                                <div class="d-flex justify-content-around col-sm-6 row me-1">
                                    <input type="radio" class="col-sm-2" name="IsYouWorkWithThem" value="yes">
                                    <label class="form-check-label text-muted col-sm-10">نعم</label>
                                </div>
                                <div class="d-flex justify-content-around col-sm-6 row me-1">
                                    <input type="radio" class=" col-sm-2" name="IsYouWorkWithThem" value="no">
                                    <label class="form-check-label text-muted col-sm-10">لا</label>
                                </div>
                        </div>
                       
                    </div>
                    
                </div>
                <div class="row row-cols-5 g-2">
                    <div class="col">
                        <label class="form-label">الحالة الشخصية</label>
                        <select class="form-control form-control-sm">
                            <option value="1">بطاقة احوال</option>
                            <option value="2">جواز سفر</option>
                            <option value="3">اقامة</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label">الرقم </label>
                        <input type="text" class="form-control form-control-sm" placeholder="ادخل  الرقم">
                    </div>
                    <div class="col">
                        <label class="form-label">تاريخ الاصدار </label>
                        <input type="date" class="form-control form-control-sm">
                    </div>
                    <div class="col">
                        <label class="form-label"> مكان الاصدار</label>
                        <input type="text" class="form-control form-control-sm" placeholder="ادخل اسم العائلة">
                    </div>

                    <div class="col">
                        <label class="form-label">تاريخ الانتهاء </label>
                        <input type="date" class="form-control form-control-sm">
                    </div>


                </div>
                </div>
              
                <div class=" p-3">
               
                
                    <br />
                    <hr />
                    <br />
                    <p> بيانات الام</p>
                    <div class="row row-cols-3 g-2">
                        <div class="col-sm-6">
                            <label class="form-label"> اسم ام الطالب    </label>
                            <input type="text" class="form-control form-control-sm" placeholder="ادخل اسم ام الطالب ">
                        </div>
                        <div class="col-sm-3">
                            <label class="form-label"> صلة القرابة   </label>
                            <input type="text" class="form-control form-control-sm" placeholder="ادخل  صلة القرابة  ">
                        </div>
                        <div class="col-sm-3">
                            <label class="form-label">الجنسية</label>
                            <select asp-items="ViewBag.nationals" class="form-control form-control-sm">
                                <option>اختر الجنسية</option>
                            </select>
                        </div>





                    </div>
                    <div class="row row-cols-3 g-2">
                        <div class="col-sm-6">
                            <label class="form-label">جهة العمل</label>
                            <input type="text" class="form-control form-control-sm" placeholder="ادخل جهة العمل ">
                        </div>
                        <div class="col-sm-3">
                            <label class="form-label"> رقم الفاكس    </label>
                            <input type="text" class="form-control form-control-sm" placeholder="ادخل  رقم الفاكس  ">
                        </div>

                        <div class="col-sm-3">
                            <label class="form-label">هاتف العمل</label>
                            <input type="text" class="form-control form-control-sm" placeholder="ادخل  هاتف العمل   ">
                        </div>




                    </div>
                    <div class="row row-cols-2 g-2">
                        <div class="col-sm-6">
                            <label class="form-label">الوظيفة</label>
                            <input type="text" class="form-control form-control-sm" placeholder="ادخل الوظيفة ">
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">رقم الجوال</label>
                            <input type="text" class="form-control form-control-sm" placeholder="ادخل رقم الجوال  ">
                        </div>






                    </div>
                    <div class="row row-cols-1 g-2">
                        <div class="col-sm-12">
                            <label class="form-label">الملاحظات </label>
                            <input type="text" class="form-control form-control-sm" placeholder="ادخل الملاحظات  ">

                        </div>
                    </div>
                
                <br />
                <hr />
                <br />
                <p>بيانات الرسوم</p>
                <div id="installmentsContainer" class="row row-cols-4 g-2">
                    <p  class="text-muted w-100"> يتم تحميل أي بيانات بعد تحديد الفصل و المرحلة.</p>
                </div>
                <br />
                <div class="row row-cols-2 g-3">
                    <!-- رسوم الزي -->
                    <div class="col">
                        <div class="d-flex align-items-center p-2 border rounded shadow-sm">
                            <label class="form-label flex-grow-1">ايراد الزي</label>
                            <input type="number" readonly id="CLSCloth" class="form-control form-control-sm w-25 text-center additional-input" data-value="0">
                            <input type="checkbox" class="form-check-input ms-2 additional-checkbox" data-label="ايراد الزي">
                        </div>
                    </div>

                    <!-- رسوم الكتب -->
                    <div class="col">
                        <div class="d-flex align-items-center p-2 border rounded shadow-sm">
                            <label class="form-label flex-grow-1">رسوم الكتب</label>
                                <input type="number" readonly id="CLSAcpt" class="form-control form-control-sm w-25 text-center additional-input" data-value="0">
                            <input type="checkbox" class="form-check-input ms-2 additional-checkbox" data-label="رسوم الكتب">
                        </div>
                    </div>

                    <!-- رسوم البوكليت -->
                    <div class="col">
                        <div class="d-flex align-items-center p-2 border rounded shadow-sm">
                            <label class="form-label flex-grow-1">البوكليت</label>
                                <input type="number" readonly id="CLSBakelite" class="form-control form-control-sm w-25 text-center additional-input" data-value="0">
                            <input type="checkbox" class="form-check-input ms-2 additional-checkbox" data-label="البوكليت">
                        </div>
                    </div>

                    <!-- رسوم التسجيل (دائمًا محدد وغير قابل للتعديل) -->
                    <div class="col">
                        <div class="d-flex align-items-center p-2 border rounded shadow-sm bg-light">
                            <label class="form-label flex-grow-1">رسوم التسجيل</label>
                            <input type="number" id="CLSRegs" class="form-control form-control-sm w-25 text-center" data-value="0" readonly>
                            <input type="checkbox" class="form-check-input ms-2" checked disabled>
                        </div>
                    </div>
                </div>
                </div>
                <div class=" d-flex align-items-center gap-2">
                    <input class="form-check-input" type="checkbox" role="switch" id="showDivBus" checked>
                    <label class="form-check-label fw-bold mb-0" for="showDivBus">هل تريد الذهاب بالباص المدرسي؟</label>
                </div>

                <div id="divBus" class="row row-cols-4 g-2">
                   
                    
                  <div class="col-sm-3">
                        <label class="form-label">اتجاه السير </label>
                        <select id="busCostTypeId" class="form-control form-control-sm">
                            <option value="1"> ذهب و عودة</option>
                            <option value="2">الذهب فقط </option>
                            <option value="3">العودة فقط</option>
                        </select>
                    </div>
                   <div class="col-sm-3">
                        <label class="form-label">الباص </label>
                        <select asp-items=" ViewBag.buses" id="buscostId" class="form-control form-control-sm">
                            <option value="0"> اختر الباص</option>
                           
                        </select>
                    </div>
                   <div class="col-sm-3">
                        <label class="form-label">الفصل الاول </label>
                        <input readonly type="number" id="costFirstTrem" class="form-control form-control-sm">
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label"> الفصل الثاني </label>
                        <input readonly id="costSecondTrem" type="number" class="form-control form-control-sm">
                    </div>




                </div>
                <br />
                <hr />
                <br />
                <p>بيانات الخصم</p>
                <div class="row row-cols-4 g-2">
                    <div class="col">
                        <label class="form-label">% خصم عام</label>
                        <input type="number" id="generalDiscount" class="form-control form-control-sm discount-input discount-percentage">
                    </div>
                    <div class="col">
                        <label class="form-label">% خصم أبناء العاملين</label>
                        <input type="number" id="employeeDiscount" class="form-control form-control-sm discount-input discount-percentage">
                    </div>
                    <div class="col">
                        <label class="form-label">خصم تعجيل الدفع</label>
                        <input type="number" id="earlyPaymentDiscount" class="form-control form-control-sm discount-input discount-fixed">
                    </div>
                    <div class="col">
                        <label class="form-label">خصم الأشقاء</label>
                        <input type="number" id="siblingsDiscount" class="form-control form-control-sm discount-input discount-fixed">
                    </div>
                </div>

                <div class="row row-cols-4 g-2">
                    <div class="col">
                        <label class="form-label">صندوق رعاية الجاليات</label>
                        <input type="number" id="communityFundDiscount" class="form-control form-control-sm discount-input discount-fixed">
                    </div>
                    <div class="col">
                        <label class="form-label">خصم خاص</label>
                        <input type="number" id="specialDiscount" class="form-control form-control-sm discount-input discount-fixed">
                    </div>
                    <div class="col">
                        <label class="form-label">قيمة خصم</label>
                        <input type="number" id="fixedDiscount" class="form-control form-control-sm discount-input discount-fixed">
                    </div>
                    <div class="col">
                        <label class="form-label">خصم باص</label>
                        <input type="number" id="busDiscount" class="form-control form-control-sm ">
                    </div>
                </div>



                <p>بيانات الخصم الاقساط</p>
                <div id="installmentsContainerAfterDiscount" class="row row-cols-4 g-2">
                    <p class="text-muted w-100"> يتم تحميل أي بيانات بعد تحديد الفصل و المرحلة.</p>
                </div>
                <div class="row row-cols-4 g-2" id="container">

                </div>
                <div class="row" id="DivBusAfterChoose">
                    <div class="col-sm-3">
                        <label class="form-label"> مصروف الباص لفصل الاول  </label>
                        <input readonly type="number" id="costFirstTremAfterChooseBus" class="form-control form-control-sm">
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label"> مصروف الباص لفصل الثاني </label>
                        <input readonly id="costSecondTremAfterChooseBus" type="number" class="form-control form-control-sm">
                    </div>
                </div>
                
                <br />
                <hr />
                <br />
             
                <div class="form-group">
                    <button type="button" class="btn btn-success btn-sm custom-button" id="btnAdd">إضافة</button>
                    <button type="button" class="btn btn-secondary btn-sm custom-button" id="btnEdit">تعديل</button>
                    <button type="button" class="btn btn-danger btn-sm custom-button" id="btnDelete">حذف</button>
                </div>

            </form>
        </div>
    </div>
</div>
@section Scripts {
    <!-- jQuery -->

    <script>
        //                       $(document).ready(function () {
        //     $(".installmentAmount").on("input", function () {
        //         let changedInput = $(this);
        //         let newValue = parseFloat(changedInput.val()) || 0;
        //         let id = changedInput.attr("data-id");
        //         console.log("🔹 القسط الذي تم تغييره:", id, "القيمة الجديدة:", newValue);

        //         let totalAmount = parseFloat($("#installmentsContainer").attr("data-total")) || 0;
        //         let otherInputs = $(".installmentAmount").not(`[data-id='${id}']`);
        //         let sumOtherInstallments = 0;
        //         alert("id",id)
        //         console.log("🔹 القسط الذي تم تغييره:", id, "القيمة الجديدة:", newValue);

        //         // حساب مجموع باقي الأقساط بدون القسط الذي تم تغييره
        //         otherInputs.each(function () {
        //             sumOtherInstallments += parseFloat($(this).val()) || 0;
        //         });

        //         // التحقق من تجاوز المجموع الكلي
        //         if (newValue + sumOtherInstallments > totalAmount) {
        //             Swal.fire("خطأ!", "إجمالي الأقساط تجاوز المبلغ الإجمالي!", "error");
        //             changedInput.val((totalAmount - sumOtherInstallments).toFixed(2));
        //             return;
        //         }

        //         // توزيع باقي المبلغ على الأقساط الأخرى
        //         let remainingAmount = totalAmount - newValue;
        //         let newAmountPerOther = (remainingAmount / otherInputs.length).toFixed(2);

        //         otherInputs.each(function () {
        //             $(this).val(newAmountPerOther);
        //         });

        //         console.log("🔹 تحديث القيم في installmentsContainerAfterDiscount");
        //         updateDiscountedInstallments(id, newValue);
        //     });

        //     function updateDiscountedInstallments(changedId, newValue) {
        //         console.log("🔹 تحديث installmentAmountReadonly:", changedId, "بقيمة:", newValue);

        //         let targetInput = $(`.installmentAmountReadonly[data-id='${changedId}']`);
        //         if (targetInput.length === 0) {
        //             console.warn("⚠️ لم يتم العثور على installmentAmountReadonly بالمعرف:", changedId);
        //             return;
        //         }

        //         targetInput.val(newValue.toFixed(2));

        //         $(".installmentAmount").each(function () {
        //             let id = $(this).attr("data-id");
        //             let value = parseFloat($(this).val()) || 0;

        //             let correspondingReadonly = $(`.installmentAmountReadonly[data-id='${id}']`);
        //             if (correspondingReadonly.length > 0) {
        //                 correspondingReadonly.val(value.toFixed(2));
        //             } else {
        //                 console.warn("⚠️ لم يتم العثور على القسط المناظر داخل installmentsContainerAfterDiscount:", id);
        //             }
        //         });

        //         let totalAfterChange = 0;
        //         $(".installmentAmountReadonly").each(function () {
        //             totalAfterChange += parseFloat($(this).val()) || 0;
        //         });

        //         $("#discountedTotalAmount").val(totalAfterChange.toFixed(2));
        //     }
        // });



                     $(document).ready(function () {
            $("#busDiscount").on("input", function () {
                let busDiscount = parseFloat($(this).val()) || 0; // قيمة الخصم المدخلة
                let firstTermCost = parseFloat($("#costFirstTrem").val()) || 0;
                let secondTermCost = parseFloat($("#costSecondTrem").val()) || 0;

                // منع إدخال قيمة سالبة
                if (busDiscount < 0) {
                    Swal.fire({
                        title: "خطأ!",
                        text: "لا يمكن إدخال نسبة خصم سالبة!",
                        icon: "error",
                        confirmButtonText: "حسناً"
                    });
                    $(this).val(0);
                    return;
                }

                let totalBusCost = firstTermCost + secondTermCost; // مجموع المصاريف
                let discountAmount = (busDiscount / 100) * totalBusCost; // حساب الخصم بالنسبة المئوية

                if (discountAmount > totalBusCost) {
                    Swal.fire({
                        title: "تنبيه!",
                        text: "إجمالي الخصم أكبر من مصاريف الباص!",
                        icon: "warning",
                        confirmButtonText: "حسناً"
                    });

                    // إعادة تعيين قيمة الخصم إلى 0
                    $(this).val(0);
                    return;
                }

                // توزيع الخصم بالتساوي على الفصلين
                let newFirstTermCost = firstTermCost - (discountAmount / 2);
                let newSecondTermCost = secondTermCost - (discountAmount / 2);

                // التأكد من أن القيم لا تصبح سالبة
                newFirstTermCost = Math.max(newFirstTermCost, 0);
                newSecondTermCost = Math.max(newSecondTermCost, 0);

                // تحديث القيم في الحقول
                $("#costFirstTremAfterChooseBus").val(newFirstTermCost.toFixed(2));
                $("#costSecondTremAfterChooseBus").val(newSecondTermCost.toFixed(2));

                // إظهار إجمالي الخصم
                $("#busDiscountAmount").text(`إجمالي الخصم المطبق: ${discountAmount.toFixed(2)} ج.م`);
            });
        });


              $(document).ready(function () {
            $("#showDivBus").change(function () {
                if ($(this).is(":checked")) {
                    $("#divBus").removeClass("d-none"); // عرض الـ divBus
                    $("#DivBusAfterChoose").removeClass("d-none"); // عرض الـ divBus
                } else {
                    $("#divBus").addClass("d-none"); // إخفاء الـ divBus
                    $("#DivBusAfterChoose").addClass("d-none"); // إخفاء الـ divBus
                     $("#costFirstTrem").val(0.0);
        $("#costFirstTremAfterChooseBus").val(0.0);
                $("#costSecondTrem").val(0.0);
                $("#costSecondTremAfterChooseBus").val(0.0);
                }
            });
        });
                      $(document).ready(function () {
            let totalAmount = 0, baseTotalAmount = 0;
            let installmentsData = [];

            $("#classTypeId").change(async function () {
                var stageId = parseInt($("#StageId").val());
                var classTypeId = parseInt($(this).val());

                if (!stageId || !classTypeId) {
                    Swal.fire("تنبيه", "يرجى اختيار المرحلة والصف", "warning");
                    return;
                }

                try {
                    const response = await $.ajax({
                        type: "GET",
                        url: '@Url.Action("GetInstallmentsByClassType", "Student")',
                        data: { stageId: stageId, classTypeId: classTypeId },
                        dataType: "json"
                    });

                    baseTotalAmount = response.installments.reduce((sum, item) => sum + (parseFloat(item.amountInstallment) || 0), 0);
                    totalAmount = baseTotalAmount;
                    installmentsData = response.installments;

                    $("#CLSAcpt").val(response.clsAcpt || 0).attr("data-value", response.clsAcpt || 0);
                    $("#CLSRegs").val(response.clsRegs || 0).attr("data-value", response.clsRegs || 0);
                    $("#cLSRegs").val(response.clsRegs || 0).attr("data-value", response.clsRegs || 0);
                    $("#CLSCloth").val(response.clsCloth || 0).attr("data-value", response.clsCloth || 0);
                    $("#CLSBakelite").val(response.clsBakelite || 0).attr("data-value", response.clsBakelite || 0);

                    displayInstallments("#installmentsContainer", installmentsData, baseTotalAmount, false);
                    displayInstallments("#installmentsContainerAfterDiscount", installmentsData, baseTotalAmount, true);

                    $(".installmentAmount").on("input", function () {
                        adjustInstallments($(this));
                    });

                    $(".additional-checkbox").change(function () {
                        updateTotalWithExtras();
                    });

                } catch (error) {
                    console.error("Error fetching installments:", error);
                    Swal.fire("خطأ", "حدث خطأ أثناء جلب البيانات", "error");
                }
            });
                    $(document).on("input", ".installmentAmount", function () {
            let id = $(this).data("id");
            let newValue = parseFloat($(this).val()) || 0;

            // تحديث الحقل readonly المقابل
            $(`.installmentAmountReadonly[data-id='${id}']`).val(newValue.toFixed(2));

            // تحديث بيانات القسط في المصفوفة
            let installment = installmentsData.find(i => i.id == id);
            if (installment) {
                installment.amountInstallment = newValue;
            }
        });
        function distributeInstallments(total) {
            let installmentInputs = $(".installmentAmount");
            let installmentCount = installmentInputs.length;

            if (installmentCount === 0) return;

            let currentTotalInstallments = installmentsData.reduce((sum, inst) => sum + inst.amountInstallment, 0);

            if (currentTotalInstallments === 0) {
                // توزيع المبلغ بالتساوي
                let newAmountPerInstallment = (total / installmentCount).toFixed(2);
                installmentInputs.each(function (index) {
                    $(this).val(newAmountPerInstallment);
                    installmentsData[index].amountInstallment = parseFloat(newAmountPerInstallment);
                });
            } else {
                // إعادة حساب القيم بناءً على النسب الأصلية
                installmentInputs.each(function (index) {
                    let originalValue = installmentsData[index].amountInstallment || 0;
                    let newInstallmentValue = parseFloat(((originalValue / currentTotalInstallments) * total).toFixed(2));

                    $(this).val(newInstallmentValue);
                    installmentsData[index].amountInstallment = newInstallmentValue;
                });
            }

            // تحديث جميع الحقول readonly
            $(".installmentAmountReadonly").each(function () {
                let id = $(this).data("id");
                let matchingInput = $(`.installmentAmount[data-id='${id}']`);
                if (matchingInput.length > 0) {
                    $(this).val(matchingInput.val());
                }
            });

            updateReadonlyInstallments();
        }
        function updateReadonlyInstallments() {
            $(".installmentAmountReadonly").each(function () {
                let id = $(this).data("id");
                let matchingInput = $(`.installmentAmount[data-id='${id}']`);
                if (matchingInput.length > 0) {
                    $(this).val(matchingInput.val());
                }
            });
        }

                               function applyDiscounts() {
            let generalDiscount = parseFloat($("#generalDiscount").val()) || 0;
            let employeeDiscount = parseFloat($("#employeeDiscount").val()) || 0;
            let earlyPaymentDiscount = parseFloat($("#earlyPaymentDiscount").val()) || 0;
            let siblingsDiscount = parseFloat($("#siblingsDiscount").val()) || 0;
            let communityFundDiscount = parseFloat($("#communityFundDiscount").val()) || 0;
            let specialDiscount = parseFloat($("#specialDiscount").val()) || 0;
           let fixedDiscount = parseFloat($("#fixedDiscount").val()) || 0;
            let busDiscount = parseFloat($("#busDiscount").val()) || 0;

            let generalDiscountAmount = (generalDiscount / 100) * baseTotalAmount;
            let employeeDiscountAmount = (employeeDiscount / 100) * baseTotalAmount;

            let totalDiscount = generalDiscountAmount + employeeDiscountAmount + earlyPaymentDiscount +
                siblingsDiscount + communityFundDiscount + specialDiscount + busDiscount;
               

            if (totalDiscount > baseTotalAmount) {
                Swal.fire("تنبيه", "إجمالي الخصومات أكبر من المبلغ الإجمالي!", "warning");
                return;
            }

            let discountedTotal = Math.max(0, baseTotalAmount - totalDiscount);
             $("#fixedDiscount").val(0.0);
                $("#fixedDiscount").val(totalDiscount.toFixed(2));
            $("#discountedTotalAmount").val(discountedTotal.toFixed(2));

            // تحديث الأقساط بعد الخصم
            distributeInstallments(discountedTotal);
        }



        //                      function distributeInstallments(total) {
        //     let installmentInputs = $(".installmentAmountReadonly");
        //     let installmentCount = installmentInputs.length;

        //     if (installmentCount === 0) {
        //         $("#installmentsContainerAfterDiscount").html(`
        //             <div class="col">
        //                 <label class="form-label">المبلغ الإجمالي بعد الخصم</label>
        //                 <input type="number" class="form-control form-control-sm" value="${total.toFixed(2)}" readonly>
        //             </div>
        //         `);
        //         return;
        //     }

        //     let currentTotalInstallments = installmentsData.reduce((sum, inst) => sum + inst.amountInstallment, 0);

        //     if (currentTotalInstallments === 0) {
        //         // توزيع المبلغ بالتساوي على جميع الأقساط
        //         let newAmountPerInstallment = (total / installmentCount).toFixed(2);
        //         installmentInputs.each(function (index) {
        //             $(this).val(newAmountPerInstallment);
        //             installmentsData[index].amountInstallment = parseFloat(newAmountPerInstallment);
        //         });
        //     } else {
        //         // تعديل الأقساط بناءً على النسب الأصلية
        //         installmentInputs.each(function (index) {
        //             let originalValue = installmentsData[index].amountInstallment || 0;
        //             let newInstallmentValue = parseFloat(((originalValue / currentTotalInstallments) * total).toFixed(2));

        //             $(this).val(newInstallmentValue);
        //             installmentsData[index].amountInstallment = parseFloat(newInstallmentValue);
        //         });
        //     }

        //     // تحديث الحقول القابلة للقراءة فقط
        //     updateReadonlyInstallments();
        // }


        //                      function updateReadonlyInstallments() {
        //     let totalAfterDiscount = 0;

        //     $(".installmentAmountReadonly").each(function () {
        //         let id = $(this).data("id");
        //         let correspondingInput = $(`.installmentAmount[data-id='${id}']`);

        //         let value = parseFloat($(this).val()) || 0;

        //         // تحديث الحقول القابلة للقراءة
        //         if (correspondingInput.length > 0) {
        //             correspondingInput.val(value.toFixed(2));
        //         }

        //         // تحديث بيانات القسط في المصفوفة
        //         let installment = installmentsData.find(i => i.id == id);
        //         if (installment) {
        //             installment.amountInstallment = value;
        //         }

        //         totalAfterDiscount += value;
        //     });

        //     $("#discountedTotalAmount").val(totalAfterDiscount.toFixed(2));
        // }








            $(".discount-input").on("input", function () {
                let value = parseFloat($(this).val()) || 0;
                if (value < 0) {
                    $(this).val(0);
                    Swal.fire("خطأ", "لا يمكن إدخال خصم سلبي!", "error");
                }
                applyDiscounts();
            });

            function displayInstallments(container, data, amount, readonly) {
                let html = "";
                if(readonly){
                     if (data.length === 1) {
                    html = `
                        <div class="col">
                            <label class="form-label">المبلغ الإجمالي</label>
                            <input type="number" id="discountedTotalAmount" class="form-control form-control-sm" value="${amount.toFixed(2)}" readonly>
                        </div>`;
                } else {
                    data.forEach(item => {
                        html += `
                            <div class="col">
                                <label class="form-label">${item.installName}</label>
                                <input type="number" class="form-control form-control-sm installmentAmountReadonly "
                                       value="${(amount / data.length).toFixed(2)}"
                                       data-id="${item.id}" readonly>
                            </div>`;
                    });
                }
                }else{
                     if (data.length === 1) {
                    html = `
                        <div class="col">
                            <label class="form-label">المبلغ الإجمالي</label>
                            <input type="number" class="form-control form-control-sm" value="${amount.toFixed(2)}" >
                        </div>`;
                } else {
                    data.forEach(item => {
                        html += `
                            <div class="col">
                                <label class="form-label">${item.installName}</label>
                                <input type="number" class="form-control form-control-sm installmentAmount"
                                       value="${(amount / data.length).toFixed(2)}"
                                       data-id="${item.id}" >
                            </div>`;
                    });
                }
                }
               

                $(container).html(html);
            }

        function adjustInstallments(changedInput) {
            let newValue = parseFloat(changedInput.val()) || 0;
            let id = changedInput.data("id");
            let otherInputs = $(".installmentAmount").not(`[data-id='${id}']`);

            // إجمالي المبلغ بعد الخصم
            let totalAfterDiscount = parseFloat($("#discountedTotalAmount").val()) || baseTotalAmount;

            let remainingSum = totalAfterDiscount - newValue;
            let newAmountPerInput = (remainingSum / otherInputs.length).toFixed(2);

            if (newAmountPerInput < 0) {
                Swal.fire("تنبيه", "القيمة المدخلة أكبر من المبلغ الإجمالي بعد الخصم!", "warning");
                changedInput.val((totalAfterDiscount / $(".installmentAmount").length).toFixed(2));
                return;
            }

            // توزيع القيم على باقي الأقساط
            otherInputs.each(function () {
                $(this).val(newAmountPerInput);
            });

            // تحديث القيم داخل installmentsContainerAfterDiscount
            updateReadonlyInstallments();
        }


                      function updateReadonlyInstallments() {
            let totalAfterDiscount = 0;

            $(".installmentAmountReadonly").each(function () {
                let id = $(this).data("id");
                let correspondingInput = $(`.installmentAmount[data-id='${id}']`);
                let value = parseFloat(correspondingInput.val()) || 0;

                $(this).val(value.toFixed(2));

                let installment = installmentsData.find(i => i.id == id);
                if (installment) {
                    installment.amountInstallment = value;
                }

                totalAfterDiscount += value;
            });

            $("#discountedTotalAmount").val(totalAfterDiscount.toFixed(2));
        }




            function updateTotalWithExtras() {
                let extraAmount = 0;

                $(".additional-input").each(function () {
                    let inputValue = parseFloat($(this).attr("data-value")) || 0;
                    let isChecked = $(this).closest(".d-flex").find(".additional-checkbox").prop("checked");

                    if (isChecked) {
                        extraAmount += inputValue;
                    }
                });

                let finalAmount = baseTotalAmount + extraAmount;
                $("#installmentsContainerAfterDiscount").attr("data-total", finalAmount);
                $("#discountedTotalAmount").val(finalAmount.toFixed(2));
            }
        });

    </script>




    <script>

                     $(document).ready(function () {
            $(".additional-checkbox").change(function () {
                let container = $("#container");
                let parentDiv = $(this).closest(".d-flex");
                let labelText = parentDiv.find("label").text().trim();
                let inputValue = parentDiv.find(".additional-input").val() || "0";
                let inputId = parentDiv.find(".additional-input").attr("id");

                if ($(this).prop("checked")) {
                    // ✅ إضافة العنصر إلى #container فقط إذا لم يكن مضافًا بالفعل
                    if (container.find(`.added-item[data-id="${inputId}"]`).length === 0) {
                        container.append(`
                            <div class="col added-item" data-id="${inputId}">
                                <label class="form-label">${labelText}</label>
                                <input type="number" class="form-control form-control-sm" value="${inputValue}" readonly>
                            </div>
                        `);
                    }
                } else {
                    // ❌ حذف العنصر إذا تم إلغاء تحديد الـ checkbox
                    container.find(`.added-item[data-id="${inputId}"]`).remove();
                }
            });

            // ✅ تحديث قيمة الإدخال داخل #container عند التغيير
            $(".additional-input").on("input", function () {
                let inputId = $(this).attr("id");
                let newValue = $(this).val() || "0";

                // ✅ تحديث قيمة الـ input المرتبط داخل #container إذا كان موجودًا
                let inputField = $(`.added-item[data-id="${inputId}"] input`);
                if (inputField.length > 0) {
                    inputField.val(newValue);
                }
            });
        });


                $(document).ready(function () {
            // إضافة رسوم التسجيل تلقائيًا عند تحميل الصفحة
            addFixedFee("رسوم التسجيل", $("#CLSRegs").val());

            // عند تغيير قيمة رسوم التسجيل، يتم تحديثها داخل الحاوية
            $("#CLSRegs").on("input", function () {
                $("#container .cls-regs-value").val($(this).val());
            });

            function addFixedFee(label, value) {
                $("#container").append(`
                    <div class="col">
                        <label class="form-label">${label}</label>
                        <input type="number" id='cLSRegs' class="form-control form-control-sm cls-regs-value" value="${value}" readonly>
                    </div>
                `);
            }
        });

                $(document).ready(function () {
                                    async function fetchBusCost() {
            var busCostTypeId = parseInt($("#busCostTypeId").val());
            var buseId = parseInt($("#buscostId").val());

            if (buseId === 0 || busCostTypeId === 0) {
                Swal.fire("تنبيه", "يرجى اختيار الباص واتجاه خط سير الباص", "warning");
                return;
            }

            try {
                const response = await $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetBusCostByClassType", "Student")',
                    data: { buseId: buseId, busCostTypeId: busCostTypeId },
                    dataType: "json"
                });

                console.log(response);
                $("#costFirstTrem").val(response.fristTremCost);
        $("#costFirstTremAfterChooseBus").val(response.fristTremCost);
                $("#costSecondTrem").val(response.secondTremCost);
                $("#costSecondTremAfterChooseBus").val(response.secondTremCost);
                $("#busDiscount").val(0);
            } catch (error) {
                console.error("Error fetching installments:", error);
                Swal.fire("خطأ", "حدث خطأ أثناء جلب البيانات", "error");
            }
        }
            $("#buscostId").change(async function () {
            await fetchBusCost();
        });
                   $("#busCostTypeId").change(async function () {
            await fetchBusCostByType();
        });
          async function fetchBusCostByType() {
            var busCostTypeId = parseInt($("#busCostTypeId").val());
            var buseId = parseInt($("#buscostId").val());
            if (buseId === 0 || busCostTypeId === 0) {
               
                return;
            }

           

            try {
                const response = await $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetBusCostByClassType", "Student")',
                    data: { buseId: buseId, busCostTypeId: busCostTypeId },
                    dataType: "json"
                });

                console.log(response);
                $("#costFirstTrem").val(response.fristTremCost);
        $("#costFirstTremAfterChooseBus").val(response.fristTremCost);
                $("#costSecondTrem").val(response.secondTremCost);
                $("#costSecondTremAfterChooseBus").val(response.secondTremCost);
                $("#busDiscount").val(0);
            } catch (error) {
                console.error("Error fetching installments:", error);
                Swal.fire("خطأ", "حدث خطأ أثناء جلب البيانات", "error");
            }
        }

                    // On page load, get the next available code from the server
                                                         async function loadClassTypesByStage(stageId) {
                    var classTypeDropdown = $("#classTypeId");
                    classTypeDropdown.empty(); // تفريغ القائمة
                    classTypeDropdown.append('<option value="0">اختر الفصل</option>'); // إعادة الخيار الافتراضي

                    if (stageId == 0) return; // لا تقم بإرسال الطلب إذا لم يكن هناك مرحلة صالحة

                    try {
                        const data = await $.ajax({
                            url: '@Url.Action("GetClassTypeNamesByStage", "ClassType")',
                            type: 'GET',
                            data: { stageId: stageId },
                            dataType: 'json'
                        });

                        if (data && data.length > 0) {
                            $.each(data, function (i, item) {
                                classTypeDropdown.append('<option value="' + item.id + '">' + item.name + '</option>');
                            });
                        } else {
                            classTypeDropdown.append('<option value="0">لا توجد بيانات</option>');
                        }
                    } catch (error) {
                        Swal.fire("خطأ", "حدث خطأ أثناء جلب البيانات", "error");
                    }
                }

                // استدعاء الدالة عند تغيير المرحلة الدراسية
                $("#StageId").change(function () {
                    var stageId = $(this).val();
                    loadClassTypesByStage(stageId);
                });

                    // $.ajax({
                    //     url: '@Url.Action("GetNextCode", "Installment")',
                    //     type: 'GET',
                    //     dataType: 'json',
                    //     success: function (response) {
                    //         $('#installmentCodeInput').val(response.nextCode);
                    //     },
                    //     error: function (jqXHR, textStatus, errorThrown) {
                    //         console.error("Error retrieving the next code:", errorThrown);
                    //     }
                    // });
                            $("#btnDelete").click(function () {
                    // Get the record's ID from a hidden field or another element
                    var id = $("#installmentId").val();


                    // Show confirmation dialog
                    Swal.fire({
                        title: 'هل أنت متأكد؟',
                        text: "لن تتمكن من التراجع عن هذا الإجراء!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'نعم، احذفها!',
                        cancelButtonText: 'إلغاء'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // If confirmed, send the delete request
                            $.ajax({
                                url: '@Url.Action("Delete", "Installment")',
                                type: 'POST',
                                data: { id: id },
                                success: function (response) {
                                    // Assuming your API returns a success message (you can modify as needed)
                                    Swal.fire("تم الحذف!", response.success, "success").then(function () {
                                        location.reload();
                                    });
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    Swal.fire("خطأ", "Error deleting data: " + errorThrown, "error");
                                }
                            });
                        }
                    });
                });

                    // Handler for the Add button
               $("#btnAdd").click(function () {
                           var errors = "";
            var code = parseInt($('#installmentCodeInput').val()) || 0;
            var name = $('#installmentNameInput').val();
            var stageId = parseInt($('#installmentStageId').val()) || 0;
            var Id = parseInt($('#installmentId').val()) || 0;
                                    var classtypeId = parseInt($('#ClassTypeId').val()) || 0;

                                     if (classtypeId === 0) {
                                errors += "رجا اختر الفصل الدراسي<br/>";
                            }


            // Client-side validation
            if (!name || name.trim() === "") {
                errors += "اسم الفصل مطلوب<br/>";
            }
            if (stageId === 0) {
                errors += "رجا اختر المرحلة<br/>";
            }

            if (name.length > 100) {
                errors += "لا يمكن أن يتجاوز الاسم 100 حرف<br/>";
            }
            if (errors !== "") {
                Swal.fire('خطأ', errors, 'error');
                return;
            }

            var InstallmentData = {
                Id: Id,
                        InstallName: name,
                Code: code,
                StageId: stageId,
                                ClassTypeId:classtypeId
            };

            console.log("Sending Data:", InstallmentData); // Debugging

            $.ajax({
                url: '@Url.Action("Add", "Installment")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',  // Ensures correct format
                data: JSON.stringify(InstallmentData),  // Convert to JSON
                dataType: 'json',  // Expect JSON response
                success: function (response) {
                    if (response.success) {
                        Swal.fire('نجاح', response.message, 'success').then(function () {
                            location.reload();
                        });
                    } else {
                        Swal.fire('خطأ', response.message, 'error');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    var errors = "";
                    var responseErrors = jqXHR.responseJSON;
                    if (responseErrors) {
                        $.each(responseErrors, function (key, value) {
                            errors += value.join("<br/>") + "<br/>";
                        });
                    } else {
                        errors = errorThrown;
                    }
                    Swal.fire('خطأ', errors, 'error');
                }
            });
        });


                   // Handler for the Edit button
        $("#btnEdit").click(function () {
            var code = parseInt($('#installmentCodeInput').val()) || 0;
            var name = $('#installmentNameInput').val();
            var stageId = parseInt($('#installmentStageId').val()) || 0;
            var Id = parseInt($('#installmentId').val()) || 0;
            var errors = "";
                            var classtypeId = parseInt($('#ClassTypeId').val()) || 0;

                                             if (classtypeId === 0) {
                                        errors += "رجا اختر الفصل الدراسي<br/>";
                                    }
            // Client-side validation
            if (!name || name.trim() === "") {
                errors += "اسم  القسط مطلوب<br/>";
            }
            if (stageId === 0) {
                errors += "رجا اختر المرحلة<br/>";
            }
            if (name.length > 100) {
                errors += "لا يمكن أن يتجاوز الاسم 100 حرف<br/>";
            }
            if (errors !== "") {
                Swal.fire('خطأ', errors, 'error');
                return;
            }

            var InstallmentData = {
                Id: Id,
                        InstallName: name,
                Code: code,
                        StageId: stageId,
                                        ClassTypeId:classtypeId
            };

            console.log("Editing Data:", InstallmentData); // Debugging

            // AJAX call for EditInstallment
            $.ajax({
                url: '@Url.Action("Edit", "Installment")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',  // Ensures correct format
                data: JSON.stringify(InstallmentData),  // Convert to JSON
                dataType: 'json',  // Expect JSON response
                success: function (response) {
                    if (response.success) {
                        Swal.fire('نجاح', response.message, 'success').then(function () {
                            location.reload();
                        });
                    } else {
                        Swal.fire('خطأ', response.message, 'error');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    var errors = "";
                    var responseErrors = jqXHR.responseJSON;
                    if (responseErrors) {
                        $.each(responseErrors, function (key, value) {
                            errors += value.join("<br/>") + "<br/>";
                        });
                    } else {
                        errors = errorThrown;
                    }
                    Swal.fire('خطأ', errors, 'error');
                }
            });
        });


                    // Handler for the Min button (gets record with minimum code)
                    $("#btnMin").click(async function () {


                        try {
                            const response = await $.ajax({
                                type: "GET",
                                url: '@Url.Action("GetMinInstallment", "Installment")',
                                dataType: "json"
                            });
                            if (response) {
                                console.log(response)
                                $("#installmentId").val(response.id);
                                $("#installmentCodeInput").val(response.code);
                                $("#installmentNameInput").val(response.installName);
                                $("#installmentStageId").val(response.stageId);
                                                                 // انتظر حتى يتم تحميل قائمة الفصول
                            await loadClassTypesByStage(response.stageId);

                            // تأكد من تعيين الفئة بعد تحميل القائمة
                            $("#ClassTypeId").val(parseInt(response.classTypeId));
                            } else {
                                Swal.fire("خطأ", "No records found.", "error");
                            }
                        } catch (error) {
                            console.error("Error fetching min Installment:", error);
                            Swal.fire("خطأ", "Error fetching data.", "error");
                        }
                    });

                    // Handler for the Max button (gets record with maximum code)
                    $("#btnMax").click(async function () {
                        try {
                            const response = await $.ajax({
                                type: "GET",
                                url: '@Url.Action("GetMaxInstallment", "Installment")',
                                dataType: "json"
                            });
                            if (response) {
                                 $("#installmentId").val(response.id);
                                $("#installmentCodeInput").val(response.code);
                                        $("#installmentNameInput").val(response.installName);
                                $("#installmentStageId").val(response.stageId);
                                                // انتظر حتى يتم تحميل قائمة الفصول
                            await loadClassTypesByStage(response.stageId);

                            // تأكد من تعيين الفئة بعد تحميل القائمة
                            $("#ClassTypeId").val(parseInt(response.classTypeId));
                            } else {
                                Swal.fire("خطأ", "No records found.", "error");
                            }
                        } catch (error) {
                            console.error("Error fetching max Installment:", error);
                            Swal.fire("خطأ", "Error fetching data.", "error");
                        }
                    });

                    // Handler for the Previous button
                    $("#btnPrevious").click(async function () {
                        const installmentId =$("#installmentId").val();
                        // console.log(installmentId);

                        // console.log(typeof(+installmentId));
                        // if (+installmentId!==0) {
                        //     Swal.fire("تنبيه", "Please select a record first.", "warning");
                        //     return;
                        // }
                        try {
                            const response = await $.ajax({
                                type: "GET",
                                url: '@Url.Action("GetPreviousInstallment", "Installment", new { id = "ID_PLACEHOLDER" })'.replace("ID_PLACEHOLDER", +installmentId),
                                dataType: "json"
                            });
                            if (response) {
                                 $("#installmentId").val(response.id);
                                $("#installmentCodeInput").val(response.code);
                                        $("#installmentNameInput").val(response.installName);
                                $("#installmentStageId").val(response.stageId);
                                                 // انتظر حتى يتم تحميل قائمة الفصول
                            await loadClassTypesByStage(response.stageId);

                            // تأكد من تعيين الفئة بعد تحميل القائمة
                            $("#ClassTypeId").val(parseInt(response.classTypeId));
                            } else {
                                Swal.fire("تنبيه", "No previous record found.", "info");
                            }
                        } catch (error) {
                             // If the status code is 404, display a specific warning message.
                if (error.status == 404) {
                    Swal.fire("تنبيه", "لا يوجد  اسم القسط قبل تلك", "info");
                } else {
                    console.error("Error fetching previous Installment:", error);
                    Swal.fire("خطأ", "Error fetching data.", "error");
                }
                        }
                    });

                    // Handler for the Next button
                    $("#btnNext").click(async function () {
                        const installmentId =parseInt( $("#installmentId").val());
                        // console.log(installmentId);
                        // console.log(typeof(installmentId));
                        // if (+installmentId!==0) {
                        //     Swal.fire("تنبيه", "Please select a record first.", "warning");
                        //     return;
                        // }
                        try {
                            const response = await $.ajax({
                                type: "GET",
                                url: '@Url.Action("GetNextInstallment", "Installment", new { id = "ID_PLACEHOLDER" })'.replace("ID_PLACEHOLDER", +installmentId),
                                dataType: "json"
                            });
                            if (response) {

                                 $("#installmentId").val(response.id);
                                $("#installmentCodeInput").val(response.code);
                                        $("#installmentNameInput").val(response.installName);
                                $("#installmentStageId").val(response.stageId);
                                                // انتظر حتى يتم تحميل قائمة الفصول
                            await loadClassTypesByStage(response.stageId);

                            // تأكد من تعيين الفئة بعد تحميل القائمة
                            $("#ClassTypeId").val(parseInt(response.classTypeId));
                            } else {
                                Swal.fire("تنبيه", "No next record found.", "info");
                            }
                        } catch (error) {
                            // If the status code is 404, display a specific warning message.
                if (error.status == 404) {
                    Swal.fire("تنبيه", "لا يوجد اسم القسط بعد تلك.", "info");
                } else {
                    console.error("Error fetching previous Installment:", error);
                    Swal.fire("خطأ", "Error fetching data.", "error");
                }
                        }
                    });
                });
    </script>
}